@model IEnumerable<httpmvc.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "View";
}


<form method="post">
    <table>
        <tr>
            <td>UserName</td>
            <td>
                <input for="Name" />
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" for="Password" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" />
              

            </td>
        </tr>
    </table>
</form>